<p>
  <strong>Nombre:</strong>
  <%= @alumno.nombreal %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @alumno.appal %>
</p>


<%= link_to 'Editar', edit_alumno_path(@alumno) %> |
<%= link_to 'Atras', alumnos_path %>
