<h1>Bienvenidos al Instituto</h1>
<p>Crea un Usuario en la esquina superior derecha para ver el contenido</p>

<br>
<br>

 <h4>Dentro de nuestra pagina podras crear profesores, alumnos e ingresar especialidades<br>
  para cada profesor, por esto mismo, ingresa a tu cuenta para poder conocer todo lo que<br>
  puedes hacer en nuestra pagina, o tambien crear tu propio usuario y accede a nuestra pagina.<br>
  <br>

  Contamos ademas con un Foro para que puedas compartir tus opiniones, temas de interes, noticias, etc.

<br>
 <h1>Te esperamos!</h1>
