<div class="panel panel-default">

  <div class="panel-heading">ESPECIALIDAD</div>

<p>
  <strong>Nombre:</strong>
  <%= @especialidad.nombre %>
</p>
</div>
<%= link_to 'Editar', edit_especialidad_path(@especialidad) %> |
<%= link_to 'Atras', especialidads_path %>
